#pycharm
.idea/

#temp files
*~

#swap files
*.swp
*.swo

#byte-compiled files
*.pyc


#Ignoring all excel and related files
*.xlsx
*.xlsx#
*.xls


#all the excel files
*.xlsx
*.xls

#data files

*.json
*.bson

#gif
*.gif
