{#This will be the base template.#}
{#TODO:#}

{#Page will have header and footer.#}
{#Page will have buttons for each excel.#}
{#The buttons will be displayed on the l#}
{#Use a loop for excel generation buttons#}

<!DOCTYPE html>
<html>
<head>
    <link rel='shortcut icon' href="{{ url_for('static',filename='images/favicon.ico')}}" >
    <h2>
        {% if title %}
            {{ title }}
        {% endif %}
    </h2>
    {% with messages = get_flashed_messages() %}
     {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
     {% endif %}
    {% endwith %}
</head>
<body>
<div id="content">{% block content %}{% endblock %}</div>
</body>
</html>

