{% extends 'base.html' %}
{% block content %}

    <div id="chosen-excel" class="container">
        <form method="post" action="" enctype="multipart/form-data">
            {{ form.csrf_token }}
            {% for field in form %}
                {% if field.id != "csrf_token" %}
                    <div>
                        <p>{{ field.label }}:</p>
                        <p>{{ field }}</p>
{#                        <p>{{ field.errors }}</p>#}
                    </div>

                {% endif %}
            {% endfor %}
            <input type="submit" value="Generate Excel">
        </form>
    </div>

{% endblock %}